{% extends 'base.html' %}
{% block header %}
<header>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- styles -->

	<div class="container" align="center"><h3>{% block title %}Log In{% endblock %}</h3></div>
  
  <style>
		.h3{
			color: red;
			font-family: Times New Roman;
			height: 40px;
			width: 250px;
			border-bottom: 1px solid red;
		}

		
	</style>
</header>
{% endblock %}
{% block content %}
  <form method="post">
        <div class="container" align="center">
    <div class="col-lg-3 col-sm-4">
      <div class="form-group has-default">
      <input type="text" name="username" id="username" class="form-control" placeholder="Enter Username">
      <br>
    <input type="password" name="password" id="password" class="form-control" placeholder="Enter Password" required>
    <br>
    <button class="btn btn-primary btn-round" type="submit" role="btn"value="Log In">Login</button>
      </div>
    </div>
    </form>
</div>
{% endblock %}