{% extends 'base.html' %}
{% block header %}
<header>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- styles -->

	<div class="container" align="center"><h3>{% block title %}Signatory Log In{% endblock %}</h3></div>
</header>

{% endblock %}
{% block content %}
  <form method="post">
        <div class="container" align="center">
    <div class="col-lg-3 col-sm-4">
      <div class="form-group has-default">
      <input type="text" name="username" id="username" class="form-control" placeholder="Enter Username">
      <br>
    <input type="password" name="password" id="password" class="form-control" placeholder="Enter Password" required>
    <br>
    <button class="btn btn-primary btn-round" type="submit" role="btn"value="Log In" onclick="window.location.href='{{ url_for( 'blog.index_sign') }}';">Login</button>
      </div>
    </div>
    </div>
    </form>

{% endblock %}