{% extends 'base.html' %}
<!DOCTYPE html>
<html>
{% block header %}
<header>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<h1>{% block title %}Register{% endblock %}</h1>
	<br>
	<style>
		h3{
			color: red;
			font-family: Times New Roman;
			height: 40px;
			width: 250px;
			border-bottom: 1px solid red;
		}

		body{
			padding-top: 100px;
			padding-bottom: 70px;
			padding-left: 450px;
			padding-right: 450px;
			background-image: url(image/a.jpg);
			
			background-size: cover;
		}
	</style>
</header>
{% endblock %}
	{% block content %}
	<form method="post">
		<body>
  <div class="form-group">
 	  	<div class="container">
  		<label for="firstname">Firstname </label>
  	 	<input name="firstname" id="firstname" required>
  	<br>
	 	<label for="lastname">Last name</label>
		<input name="lastname" id="lastname" required>
  	<br>
     	<label for="username">Username</label>
    	<input name="username" id="username" required>
    <br>	
    	<label for="password">Password</label>
    	<input type="password" name="password" id="password" required>
    <br>
   
  	<br>
  	<input class="btn btn-primary btn-lg active" type="submit" role="button"value="Register">
  

    </div>
  </div>

</form>
{% endblock %}
</body>
</html>