{% extends 'base.html' %}

{% block header %}
<header>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- styles -->

  <div class="container" align="center"><h3>{% block title %}Applications{% endblock %}</h3></div>
  
</header>
{% endblock %}
<body>
{% block content %}
{% for application_data in applicationdata %}
 <div class="container">
    <form class="post">
       
         
      <div class="form-group has-default">
        <div class="row">
          <h4>{{ application_data['title'] }}</h4>
        </div>
          <div class="row">
          <div class="about">by {{ application_data['username'] }} on {{ application_data['created'].strftime('%Y-%m-%d') }}</div>
        
        {% if g.user['id'] == application_data['author_id'] %}
          <a class="action" href="{{ url_for('blog.update', id=application_data['id']) }}">Edit</a>
          <a class="action" href="{{ url_for('blog.view', id=application_data['id']) }}">View</a>
        </div>
        {% endif %}
        <div class="row">
      <p class="body">{{ application_data['body'] }}</p>
      </div>
      
    </div>

     
    </form>
  </div>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
</body>
