{% extends 'base.html' %}

{% block header %}
<header>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- styles -->

  <div class="container" align="center"><h3><b>{% block title %}Applications{% endblock %}</b></h3></div>
  
</header>
<style type="text/css">
  div.relative {
  position: relative;
  left: 800px;
}
</style>
{% endblock %}
<body>
{% block content %}
{% for application_data in applicationdata %}
 <div class="container">
    <form class="post">
       
         
      <div class="form-group has-default">
        <div class="row">
          <h4><b>{{ application_data['title'] }}</b></h4>
        </div>
          <div class="row">
          <div class="about">by <b>{{ application_data['username'] }}</b> on<b> {{ application_data['created'].strftime('%Y-%m-%d') }}</b></div>
        
        {% if g.user['id'] == application_data['author_id'] %}
        
      <div class="relative">
          <a class="action" float="right" href="{{ url_for('blog.update', id=application_data['id']) }}">&nbsp;&nbsp;&nbsp;Edit&nbsp;&nbsp;&nbsp;</a>
          <a class="action" href="{{ url_for('blog.view', id=application_data['id']) }}">&nbsp;&nbsp;&nbsp;View</a>
      </div>
        </div>
        {% endif %}
        <div class="row">
      <p class="body">{{ application_data['body'] }}</p>
      </div>
      
    </div>

     
    </form>
  </div>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
</body>
