{% extends 'base.html' %}

{% block header %}
<header>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- styles -->

  <div class="container" align="center"><h3><b>{% block title %}View Application{% endblock %}</b></h3></div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.js"></script>

  
</header>
<style type="text/css">
  label {
    
    color: #555;
    display: block;
    
}
</style>
{% endblock %}
<body>
{% block content %}
   
   <form action="/form" method="POST">
    <div class="form-group">
    
    <input type="text" id="email" class="form-control" aria-describedby="emailHelp" placeholder="name" name="name" value=""/>
  </div>
    <div class="form-group">
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="email" name='email' value>
    </div>
    <br>
    <button type="submit" class="btn btn-secondary">Submit</button>
  </form>








{% endblock %}
</body>
