{% extends 'base.html' %}

{% block header %}
<header>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- styles -->

  <div class="container" align="center"><h3>{% block title %}View Application{% endblock %}</h3></div>
  
</header>
{% endblock %}
<body>
{% block content %}
 <div class="container">
    <div class="card">
     <div class="card-body">
       <label name="to">{{request.form['title'] or post['to']}}</label>
        <br>
        <label for="t">To </label>
        <br>
        <br>
        <label for="t">Head of Department</label>
          <br>
        <br>
       <label for="date">Date </label>
          <br>
        <br>
        <label for="body">Subject:- </label>
        <br>
        <br>
        <label name="data" id="1">{{ request.form['body'] or post['body'] }}</label>
       <br>
       <br> 
       <form action = "http://localhost:5000/uploader" method = "POST" enctype = "multipart/form-data">
       <input type = "file" name = "file" />
              <input type = "submit"/>
   </form>  
   
  </div>
</div>
</div>
{% endblock %}
</body>
