{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}View {% endblock %}</h1>
{% endblock %}
<br>
{% block content %}
    <label name="to">{{request.form['title'] or post['to']}}</label>
    <br>
    <label for="t">To </label>
    <br>
    <br>
    <label for="t">Head of Department</label>
      <br>
    <br>
   <label for="date">Date </label>
      <br>
    <br>
    <label for="body">Subject:- </label>
    <br>
    <br>
    <label name="data" id="1">{{ request.form['body'] or post['body'] }}</label>
   <br>
   <br> 

    <input type="submit" value="Save">

  <hr>
<!--   <form action="{{ url_for('blog.delete', id=post['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">

</form> -->
   <form action = "http://localhost:5000/uploader" method = "POST" enctype = "multipart/form-data">
       <input type = "file" name = "file" />
              <input type = "submit"/>
   </form>  
{% endblock %}

