{% extends 'base.html' %}

{% block header %}
<header>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- styles -->

  <div class="container" align="center"><h3>{% block title %}View Application{% endblock %}</h3></div>
  
</header>
{% endblock %}
<body>
{% block content %}
 <div class="container">
    <div class="card">
     <div class="card-body">
       <label style="color:#00659c;" name="to">{{request.form['title'] or post['to']}}</label>
        <br>
        <label style="color:#00659c;" for="t">To </label>
        <br>
        <br>
        <label style="color:#00659c;" for="t">{{ request.form['designation'] or post['designation'] }}</label>
          <br>
        <br>
       <label style="color:#00659c;" for="date">Date :- {{ request.form['created'] or post['created'] }}</label>
          <br>
        <br>
        <label style="color:#00659c;" for="body">Subject :- {{ request.form['subject'] or post['subject'] }}</label>
        <br>
        <br>
        <label style="color:#00659c;" name="data" id="1">{{ request.form['body'] or post['body'] }}</label>
       <br>
       <br> 
       
<input type="text" name="key" id="key" class="form-control" placeholder="Enter your Signature Key" required>
<br>

<button class="btn btn-primary btn-round" type="submit" role="btn"value="submit" onclick="window.location.href='{{ url_for( 'blog.home') }}';">Submit</button>
    

  </div>
</div>
</div>
{% endblock %}
</body>
